body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", sans-serif;
  background-color: #f7fbfc;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 1fr 10vw;
  grid-template-areas: "main right";
}
.canvas {
  background-color: white;
  border-radius: 5px;
  stroke: 2px solid black;
  margin-left: 5px;
}

.context-menu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.context-menu div {
  cursor: pointer;
  margin-bottom: 5px;
}

.context-menu div:hover {
  background-color: #f0f0f0;
}

.right-sidebar {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  height: 200px;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.navbar {
  background-color: #769fcd;
  display: flex;
  justify-content: left;
  align-items: center; /* Center items vertically */
  height: 60px; /* Adjust the height to properly contain your elements */
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.navbar-title {
  font-size: 25px;
  color: white;
  margin-left: 20px;
  margin-right: 20px; /* Add margin to separate it from the links */
}

.navbar-links {
  display: flex;
  align-items: center; /* Center links vertically */
  height: 100%; /* Ensure the links take full height of the navbar */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}

.simulation-trace {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.simulator-event {
  border-radius: 5px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100px;
  width: 100px;
  background-color: #d6e6f2;
  margin: 20px;
}

.simulator-events {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Adjust to ensure proper layout */
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  height: 400px; /* Set a fixed height as needed */
  overflow: hidden; /* Hide overflow on the main container */
}

.event-list {
  overflow-y: auto; /* Ensure the list scrolls vertically */
  overflow-x: hidden; /* Hide horizontal overflow if not needed */
  max-height: calc(100% - 50px); /* Adjust based on your layout */
}

.event-list div {
  cursor: pointer;
  word-wrap: break-word;
  padding: 10px 5px;
  border-bottom: 1px solid black;
}

.event-list div:hover {
  background-color: lightgrey;
}

.simulation-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.success {
  background-color: green;
}

.failure {
  background-color: red;
}
