.simulator-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 10px;
    box-shadow: 1px 1px 5px rgba(166, 175, 195, 0.5);
}

.close--button {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 20%;
    border: none;
}

.close--button:hover {
    background-color: lightcoral;
    color: white;
}

.input--field {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.input-field--checkbox {
    margin-right: 5px;
}

.button-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}