body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

h1 {
  margin: 0;
}

.nav-spacer {
  display: flex;
  gap: 20px;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

.menu {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  transition: all linear 0.3s;
}

.menu:hover .dropdown-menu {
  display: block;
}

.dropdown-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #f9f9f9;
  color: black;
  cursor: pointer;
  text-align: left;
}

.dropdown-button:hover {
  background-color: #f2f2f2;
}